[flake8]

max-line-length = 88

exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    settings.py,
    __init__.py,
    insert_data.py,
    manage.py,
    modules,
    migrations,
    static,
    staticfiles,
    media,
    tests



ignore =
    E501,
    F401,
    E203,
    W503,
    I100,
    I101,
    I201,
    W291