Django
django-admin-decorators
django-admin-list-filter-dropdown
django-filter
djangorestframework
djangorestframework-simplejwt
Pillow
requests
setuptools
django-extensions
python-decouple
drf-yasg
drf-yasg[validation]
django-mail-templated
djoser
black
flake8
pytest
pytest-django
coreapi
Faker
django-cors-headers
locust
redis
celery
django-celery-beat
django-redis
gunicorn
django-render-partial
psycopg2-binary